@import url("styles.css");

@font-face {
    font-family: CopperplateGothicBold; /* set name */
    src: url(copperplategothic_bold/copperplategothic_bold.ttf); /* url of the font */
}
/*style="background-image: url('images/cdmpw5k.png');"*/
body {
    color: #f13500;
    font-family: CopperplateGothicBold, serif;
}